/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
    outline: 1px dotted black;
}

main { 
  display: grid;
  grid-template-columns: 1fr;
}

.cast {  
  display: flex;
  flex-wrap: wrap;
}

/*Custom UI Controls*/

main{
  background-image: url('../assets/images/ice.jpg');
  background-size:cover;
  
}

.actors{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:15px;
  
}

.plyr--video .plyr__controls {
  color: 
#ffd573;
}


img{
  height:150px;
  width:150px;
  object-fit: contain;

  
}

p{
  font-family: 'Raleway', sans-serif;
  margin: 15px 0px 0px 50px;
 
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color:goldenrod;

  



  
}
ul{
  font-family: 'Raleway', sans-serif;
  
}

footer{
  display:flex;
  justify-content:center
}




h1{
  display: flex;
  font-family: 'Squada One';
  font-size:50px;
  justify-content: center;
  color:goldenrod;
  text-shadow: 1px 1px grey;
  

}

a{
  text-decoration:none;
	color:rgb(59, 58, 58);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding:20px;
}

blockquote{
  font-family: 'Raleway', sans-serif;
  background:whitesmoke;
  padding:7px;
 
  
}




.plyr__control--overlaid {
  background: 
  #5084ff;
}

/* Media Queries */
/* 
  Mobile: 
  * 384px = 24em
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */

  
}

/* Tablet:  
  * 768px = 48em 
*/
@media only screen and (min-width: 24em)  {
    
  /* Diagnostic Styling. Delete When Done. */


}

/* Desktop: 
  * 1152px = 72em
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */


}

/* Wide Desktop: 
  * 1440px = 90em
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */


}




@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */

    
    .cast {
      text-align: center;
      justify-content: center;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */

    
}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */


}

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
 

  blockquote{
    font-size: 20px;
  };

}

